<%- model_class = Collection -%>
<%= render partial: '/collections/collection_title', locals: { collection: @collection, section_title: 'Settings' } %>

<div class="row">
  <div class="col-md-9">

   <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Curators</h3>
      </div>

      <table class="table table-hover curator-list">
        <% @collection.users.each do |curator| %>
          <tr>
            <td>
              <%= curator.name %>
            </td>
            <td>
              <a class="remove_curator pull-right" curator_id="<%= curator.id %>">x</button>
            </td>
          </tr>
        <% end %>
      </table>

      <div class="panel-footer">
        <!-- User search tool -->
        <form action="<%= set_curator_path %>" method="post" id="set_curator_form" class="form-inline" role="form">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
          <input type="hidden" name="curator_id" id="curator_id" value=""/>
          <input type="hidden" name="collection_id" value="<%= @collection.id %>"/>

          <div id="selected_user" class="form-group">
            <label for="user_search">Add Curator</label>
            <input id="user_search" placeholder="enter curator's name">
            <button class="btn btn-default btn-sm" id="add_curator"><span class="text-primary">Add</span></a></button>
          </div>
        </form>

        <form action="<%= remove_curator_path %>" method="post" id="remove_curator_form">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
          <input type="hidden" name="curator_id" id="remove_curator_id" value=""/>
          <input type="hidden" name="collection_id" value="<%= @collection.id %>"/>
        </form>
        <!-- End User search tool -->
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Rename Collection</h3>
      </div>
      <div class="panel-body">
        <%= simple_form_for @collection, :html => { :class => 'form-inline' } do |f| %>
          <%= display_errors(@collection) %>
          <%= f.input :title, wrapper: :inline_form %>
          <button name="commit" type="submit" class="btn btn-default"><span class="text-primary">Rename</span></button>
        <% end %>
      </div>
    </div>


    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Proceed with caution</h3>
      </div>
      <div class="panel-body">
        <h4 class="">Delete this Collection</h4>
        <p class="">Procede with caution. This will remove all items, exhibits, and showcases.</p>
        <button class="btn btn-small btn-default"><span class="text-danger">Delete this collection</span></button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <%= collection_nav(@collection, :settings) %>
  </div>
</div>

