<%= page_title(t('.title')) %>
<%= collection_nav(@collection, :settings) %>

<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Basic Information', edit_collection_path(@collection) %></li>
  <li><%= link_to 'Editors', collection_curators_path(@collection) %></a></li>
</ul>

<div class="panel panel-default">
  <%= simple_form_for @collection do |f| %>
    <div class="panel-body">
      <%= render partial: 'form', locals: { f: f } %>
    </div>
    <div class="panel-footer">
      <%= f.button :submit, value: t('buttons.save'), :class => 'btn-primary' %>
    </div>
  <% end %>
</div>


<%= DeletePanel.new(@collection).display  %>
