<%= page_title(t('.title')) %>
<%= collection_nav(@collection, :settings) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('.title') %>
  </div>
  <div class="panel-body">

    <%= simple_form_for @collection do |f| %>
      <div class="panel-body">
        <%= render partial: 'form', locals: { f: f } %>
      </div>
      <div class="panel-footer">
        <%= f.button :submit, value: t('buttons.save'), :class => 'btn-primary' %>
      </div>
    <% end %>
  </div>
</div>


<%= DeletePanel.new(@collection).display  %>
