<% page_title(t('.page_title')) %>

<div class="jumbotron">
    <h1><%= t('.title') %></h1>
    <p><%= t('.description') %></p>
    <p>
      <%= link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> #{t('.new-button')}"),
        new_collection_path,
        :class => 'btn btn-primary btn-large' %>
        <%= learn_more_button('#') %>
    </p>
</div>

<%= render partial: 'list', locals: { collections: @collections } %>
