<% breadcrumb :collections %>
<%- model_class = Collection -%>

<div class="jumbotron">
    <h1>Collections</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p>
      <%= link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> #{t('.new', :default => t("Add a Collection"))}"),
        new_collection_path,
        :class => 'btn btn-primary btn-large' %>
      <%= link_to raw("<i class=\"glyphicon glyphicon-education\"></i> Learn More"),
        new_collection_path,
        :class => 'btn btn-large btn-hollow' %>
    </p>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Collection</th>
      <th></th>
      <th></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td>
          <% if collection.items.size > 0 %>
            <% item = ItemDecorator.new(collection.items.first) %>
            <%= link_to item.react_thumbnail, collection_items_path(collection) %></a>
          <% end %>
        <td>
          <h4 class="media-heading"><%= h link_to collection.title, collection_items_path(collection) %></h4>
          <%= h collection.description %>
        </td>
        <td><span class="badge"><%= collection.items.size %> Items</span></td>
        <td>
          <%= collection.updated_at.to_s(:long) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
