<div class="page-header">
  <div class="pull-right">
    <%= link_to t('item_children.add_link'),
            new_collection_item_child_path(collection, parent),
            :class => 'btn btn-primary' %>
  </div>
  <h1><%= collection.title.titleize %> » <%= parent.title.titleize %> » 
    <%=t 'item_children.collection_title' %></h1>
</div>

<%= render partial: "items/list", locals: { items: @items } %>
