<% breadcrumb :collection_item_children, @parent %>
<div class="page-header">
  <div class="pull-right">
    <%= link_to t('.new'),
            new_item_child_path(collection, parent),
            :class => 'btn btn-primary' %>
  </div>
  <h1><%= collection.title.titleize %> » <%= parent.title.titleize %> »
    <%=t '.title' %></h1>
</div>

<%= render partial: "items/list", locals: { items: @items } %>
