<%= collection_nav(@collection, :settings) %>

<div class="row">

  <div class="col-md-9">
    <%= react_component 'CuratorPanel', {
        initialCurators: @curator_list.curator_hashes,
        createUrl: collection_curators_path(@collection.id),
        searchUrl: curator_search_path,
      },
      {prerender: false }
    %>
  </div>

  <div class="col-md-3">

    <div class="list-group">
      <a href="<%= edit_collection_path(@collection) %>" class="list-group-item "><i class="glyphicon glyphicon-cog"></i> Settings</i></a>
      <%= link_to(collection_curators_path(@collection), class: "list-group-item active") do %>
        <i class="glyphicon glyphicon-user"></i> Curators
      <% end %>
      <a href="<%= edit_collection_path(@collection) %>" class="list-group-item "><i class="glyphicon glyphicon-tasks"></i> Metadata </i></a>
      <a href="<%= edit_collection_path(@collection) %>" class="list-group-item "><i class="glyphicon glyphicon-th-large"></i> Exhibit </i></a>

    </div>

  </div>
</div>

