<%= display_errors(f.object) %>

<div class="row">
  <h1><%= f.object.collection.title %></h1>
  <div class="col-md-6">
    <%= f.input :description %>
  </div>
  <div class="col-md-6">
    <%= HoneypotThumbnail.display(f.object.honeypot_image) %>
    <%= f.input :image, as: :file %>
  </div>
</div>
