<% page_title(@exhibit.title, @exhibit.collection) %>
<%= collection_nav(@exhibit.collection, :website) %>

<%= back_action_bar(edit_exhibit_path(@exhibit.id), '#' ) %>
<%= link_to("PREVIEW", @exhibit.collection.beehive_url, class: "btn btn-large btn-hollow", :target => "_blank") %>

<%= simple_form_for @exhibit do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= f.object.collection.title %></h3>
    </div>
    <div class="panel-body">
      <%= render partial: 'form', locals: { f: f } %>
    </div>
    <div class="panel-footer">
      <%= f.button :submit, "Save", class: 'btn btn-primary'%>
    </div>
  </div>
<% end %>
