<div class="nav-panel ">
  <ul class="well">
    <li class="header" role="presentation"><%= nav.collection.title %></li>

    <li class="<%= nav.active_section_css(:items) %>"><a href="<%= collection_items_path(nav.collection) %>"><i class="glyphicon glyphicon-picture"></i> <%= t('collection_left_nav.items') %></a></li>
    <li class="<%= nav.active_section_css(:showcases) %>"><a href="<%= collection_exhibit_path(nav.collection) %>"><i class="glyphicon glyphicon-film"></i> <%= t('collection_left_nav.showcases') %></a></li>
    <li role="presentation" class="divider"></li>
    <li class="header" role="presentation">Settings</li>

    <li class="<%= nav.active_section_css(:website) %>"><a href="<%= edit_exhibit_path(nav.collection.exhibit) %>"><i class="glyphicon mdi-av-web"></i> <%= t('collection_left_nav.website') %></a></li>
    <li class="<%= nav.active_section_css(:settings) %>"><a href="<%= edit_collection_path(nav.collection) %>"><i class="glyphicon glyphicon-list-alt"></i> Collection <% t('collection_left_nav.settings') %></a></li>
  </ul>
  &nbsp;
  <a href="#" id="trig"><span id="switch" class="glyphicon glyphicon-chevron-left"></span></a>
</div>
