<div class="nav-panel ">
  <ul class="well">
    <li class="<%= nav.active_section_css(:items) %>"><a href="<%= collection_items_path(nav.collection) %>"><i class="glyphicon glyphicon-picture"></i> <%= t('collection_left_nav.items') %></a></li>
    <li class="<%= nav.active_section_css(:showcases) %>"><a href="<%= collection_exhibit_path(nav.collection) %>"><i class="glyphicon glyphicon-film"></i> <%= t('collection_left_nav.showcases') %></a></li>
    <li class="<%= nav.active_section_css(:website) %>"><a href="<%= site_setup_collection_path(nav.collection) %>"><i class="glyphicon mdi-av-web"></i> <%= t('collection_left_nav.website') %></a></li>
    <li role="presentation" class="divider"></li>
    <li class="<%= nav.active_section_css(:settings) %>"><a href="<%= edit_collection_path(nav.collection) %>"><i class="glyphicon glyphicon-list-alt"></i> <%= t('collection_left_nav.settings') %></a></li>
    <li class="<%= nav.active_section_css(:editors) %>"><a href="<%= collection_editors_path(nav.collection) %>"><i class="glyphicon glyphicon-user"></i> <%= t('collection_left_nav.editors') %></a></li>
    <li role="presentation" class="divider"></li>

    <li className="header" role="presentation">Publish Site</li>
    <li className="togglebutton">
      <%= react_component "CollectionPublishToggle", {
          publishPath: v1_collection_publish_url(nav.collection.unique_id),
          unpublishPath: v1_collection_unpublish_url(nav.collection.unique_id)
        }
      %>
    </li>

    <li className="header" role="presentation">Preview Site</li>
    <li className="togglebutton">
      <%= react_component "CollectionPreviewModeToggle", {
            previewModePath: v1_collection_preview_mode_url(nav.collection.unique_id)
          }
      %>
    </li>

    <%= react_component "CollectionPreviewPublishLink", {
          previewLinkURL: CreateBeehiveURL.call(nav.collection),
          previewLinkLabel: t('collection_left_nav.preview_site'),
          liveLinkLabel: t('collection_left_nav.live_site')
      }
    %>
  </ul>
  &nbsp;
  <a href="#" id="trig"><span id="switch" class="glyphicon glyphicon-chevron-left"></span></a>
</div>
