<div class="title-bar <%= nav.bar_size_class %>">
  <div class="container-fluid">
    <div class="row">
      <div class="navbar-header">
         <a class="navbar-brand" href="<%= root_path %>"><i class="glyphicon glyphicon-home"></i> honeycomb</a>
      </div>
      <div class="navbar-collapse collapse">

        <%= yield :collection_top_nav %>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "#" do %>
              <i class="glyphicon glyphicon-user"></i>
              <%= nav.current_user_display_name %>
            <% end %>
          </li>
          <% admin_only do %>
            <li>
              <%= link_to admin_administrators_path, title: "Administration"  do %>
                <i class="glyphicon glyphicon-cog"></i>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, title: "Log out" do %>
              <i class="glyphicon glyphicon-log-out"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
