<%= f.input :title %>

<p><%= link_to "Add Intro" %> </p>

<%= f.input :description, as: :text %>

<%= f.hidden_field :display_type, value: 'text'%>
<%= f.hidden_field :order %>

<div class="form-group">
  <button class="btn btn-primary">Save</button>
</div>
