<table class="table table-striped item-list">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.content') %></th>
      <th><%= t('.updated_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% pages.each do |page| %>
      <tr>
        <td>
          <h4 class="media-heading"><%= h link_to page.name, edit_page_path(page) %></h4>
        </td>
        <td>
          <%= truncate(strip_tags(page.content), length: 200, omission: '...') %>
        </th>
        <td>
           <%= ListTime.display(page.updated_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
