<%= page_title(t('.title')) %>
<%= collection_nav(@collection, :settings) %>

<ul class="nav nav-tabs nav-edit" role="tablist">
  <li><%= link_to 'Basic Information', edit_collection_path(@collection) %></li>
  <li class="active"><%= link_to 'Editors', collection_editors_path(@collection) %></a></li>
</ul>

<%= react_component 'UserPanel', {
    initialUsers: @editor_list.editor_hashes,
    createUrl: collection_editors_path(@collection.id),
    searchUrl: user_search_collection_editors_path(@collection.id),
    title: t('.name_of_user_type'),
  },
  {prerender: false }
%>
