<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.status') %></th>
      <th><%= t('.updated_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% showcases.each do |showcase| %>
      <tr>
        <td><%= link_to showcase.title, showcase_path(showcase) %></td>
        <td>
          <%= PublishedText.display(showcase) %>
        </td>
        <td>
           <%= ListTime.display(showcase.updated_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
