<%= collection_nav(@showcase.collection, :showcases) %>

<%= back_action_bar(edit_showcase_path(@showcase.id), '#' ) %>

<%= simple_form_for @showcase do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @showcase.title %></h3>
    </div>
    <div class="panel-body">
      <%= render partial: 'form', locals: { f: f } %>
    </div>
    <div class="panel-footer">
      <%= f.button :submit, "Save", class: 'btn btn-primary'%>
    </div>
  </div>
<% end %>
