<div class="items-menu-bar menu-bar default pull-left">
  <div class="btn-group">
    <%= react_component("ReactDropzone", {
      formUrl: url_for( @item ),
      authenticityToken: form_authenticity_token,
      modalTitle: raw(t(".new")),
      multifileUpload: false,
  }) %>
  </div>
  <div class="input-group menu-bar">
    <input type="text" class="item-list-filter form-control">
    <span class="input-group-btn">
      <button type="button" class="btn btn-hollow btn-flat btn-search"><i class="glyphicon glyphicon-search"></i></button>
    </span>
  </div>

</div>
<div class="menu-bar selected pull-left">

  <%= t('.selected_items', number: '1') %>

  <div class="btn-group">
    <%= link_to raw("<i class=\"glyphicon glyphicon-edit\"></i> #{t('.edit')}"),
      '#', :class => 'btn btn-default btn-hollow' %>
  </div>
  <div class="btn-group btn-hollow">
    <%= link_to raw("<i class=\"glyphicon glyphicon-eye-open\"></i> #{t('.publish')}"),
      '#', :class => 'btn btn-default ' %>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only"><%= t('toggle_dropdown') %>/span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#"><%= t('.publish') %></a></li>
      <li><a href="#"><%= t('.unpublish') %></a></li>
    </ul>
  </div>
</div>
<div class="pull-right">
    <div class="btn-group">
    <%= learn_more_button('#') %>
  </div>
</div>
