
<% if f.object.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(f.object.errors.count, "error") %> prohibited this item from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= f.input :title, as: :string %>

<%= f.input :description, as: :text do %>
  <%= f.text_area :description, class: 'text optional form-control', rows: '3' %>
<% end %>

<%= f.input :manuscript_url, as: :string %>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <i class="glyphicon glyphicon-plus"></i> Add a new field
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Transcript</a></li>
    <li><a href="#">Location</a></li>
    <li><a href="#">Location Created</a></li>
    <li class="divider"></li>
    <li><a href="#">Create a New Field</a></li>
  </ul>
</div>

