
<%= display_errors(@collection) %>

<%= f.input :title, as: :string %>

<%= f.input :description, as: :text do %>
  <%= f.text_area :description, class: 'text optional form-control', rows: '3' %>
<% end %>

<%= f.input :manuscript_url, as: :string, placeholder: 'http://', hint: 'Link to externally hosted manuscript viewer.' %>

<!-- div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <i class="glyphicon glyphicon-plus"></i> Add a metadata field
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Transcript</a></li>
    <li><a href="#">Location</a></li>
    <li><a href="#">Location Created</a></li>
    <li class="divider"></li>
    <li><a href="#">Create a New Field</a></li>
  </ul>
</div -->

