<table class="table table-striped datatable item-list">
  <thead>
    <tr>
      <th><!-- input type="checkbox" class="show-selected-menu select-all" /--></th>
      <th><%= t('.title') %></th>
      <th></th>
      <th><%= t('.status') %></th>
      <th><%= t('.publishing') %></th>
      <th><%= t('.updated_at') %></th>
      <th>Last Modified Timestamp</th>
      <th>Sortable Name</th>
      <th>Image Name</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td>
          <!--label><input type="checkbox" class="show-selected-menu" /></label-->
        </td>
        <td class="image thing">
          <% if item.honeypot_image.present? %>
            <%= HoneypotThumbnail.display(item.honeypot_image) %>
          <% end %>
        </td>
        <td>
          <h4 class="media-heading"><%= h link_to item.name, item.edit_path %></h4>
          <div class="item-description">
            <%= raw item.description %>
          </div>
        </td>
        <td class="item-status">
          <%= item.status_text %>
        </td>
        <td class="item-publishing">
          <%= PublishedText.display(item) %>
        </td>
        <td>
          <%= ListTime.display(item.updated_at) %>
        </td>
        <td>
          <%= item.updated_at.to_i %>
        </td>
        <td>
          <%= item.sortable_name %>
        </td>
        <td>
          <%= item.image_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
