<table class="table table-striped datatable">
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Last Modified</th>
      <th>Last Modified Timestamp</th>
      <th>Sortable Title</th>
      <th>Image Name</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td>
          <%= link_to item.thumbnail(:small, height: 64), item.show_path, class: "pull-left" %></a>
        </td>
        <td>
          <h4 class="media-heading"><%= h link_to item.title, item.show_path %></h4>
          <%= h item.description %>
        </td>
        <td>
          <%= item.updated_at.to_s(:long) %>
        </td>
        <td>
          <%= item.updated_at.to_i %>
        </td>
        <td>
          <%= item.sortable_title %>
        </td>
        <td>
          <%= item.image_title %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
