<table class="table table-striped datatable item-list">
  <thead>
    <tr>
      <th><!-- input type="checkbox" class="show-selected-menu select-all" /--></th>
      <th><%= t('.title') %></th>
      <th></th>
      <th><%= t('.status') %></th>
      <th><%= t('.updated_at') %></th>
      <th>Last Modified Timestamp</th>
      <th>Sortable Title</th>
      <th>Image Name</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td>
          <!--label><input type="checkbox" class="show-selected-menu" /></label-->
        </td>
        <td class="image">
          <%= link_to HoneypotThumbnail.display(item.honeypot_image), item.edit_path %>
        </td>
        <td>
          <h4 class="media-heading"><%= h link_to item.name, item.edit_path %></h4>
          <%= raw item.description %>
        </td>
        <td>
          <%= PublishedText.display(item) %>
        </td>
        <td>
          <%= ListTime.display(item.updated_at) %>
        </td>
        <td>
          <%= item.updated_at.to_i %>
        </td>
        <td>
          <%= item.sortable_name %>
        </td>
        <td>
          <%= item.image_title %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
