<table class="table table-striped datatable item-list">
  <thead>
    <tr>
      <th></th>
      <th><%= t('.title') %></th>
      <th></th>
      <th><%= t('.published') %></th>
      <th><%= t('updated_at') %></th>
      <th>Last Modified Timestamp</th>
      <th>Sortable Title</th>
      <th>Image Name</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td>
          <label><input type="checkbox" class="show-selected-menu" /></label>
          
          

        </td>
        <td>
          <%= link_to item.react_thumbnail, item.edit_path %>
        </td>
        <td>
          <h4 class="media-heading"><%= h link_to item.title, item.edit_path %></h4>
          <%= h item.description %>
        </td>
        <td>
          <span class="text-success"><i class="glyphicon glyphicon-ok"></i> <%= t('.published') %></span>
        </td>
        <td>
          <%= item.updated_at.to_s(:long) %>
        </td>
        <td>
          <%= item.updated_at.to_i %>
        </td>
        <td>
          <%= item.sortable_title %>
        </td>
        <td>
          <%= item.image_title %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
