<div class="row">
  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <% if @item.description.present? %>
          <div class="pull-right">
            <%= link_to raw("<i class=\"glyphicon glyphicon-edit\"></i> #{t('.edit', :default => t("helpers.links.edit"))}"),
              edit_collection_item_path(collection, @item), :class => 'btn btn-default btn-sm' %>
          </div>
        <% end %>

        <h3 class="panel-title">Metadata</h3>
      </div>
      <div class="panel-body">
        <% if @item.description.blank? %>
          <%= simple_form_for [@item.collection, @item], html: { :class => "item", id: 'edit-item' } do |f| %>
            <%= render :partial => 'form', locals: { f: f } %>
          <% end %>
        <% else %>
          <dl>
            <% [:description, :manuscript_url].each do |field| %>
              <% if item.send(field).present? %>
                <dt><%= item.class.human_attribute_name(field) %></dt>
                <dd><%= simple_format(item.send(field)) %></dd>
              <% end %>
            <% end %>
          </dl>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-md-4 item-show-image">
    <div class="item-show-image-box">
      <button class="btn btn-default image-zoom-fullscreen" data-target="#itemZoom<%= item.id %>"><span class="glyphicon glyphicon-zoom-in"></span></button>
      <%= item.thumbnail(:medium, height: '200') %>
      <% simple_form_for [@item.collection, @item], html: { :class => "edit-item-dropzone", :multipart => true } do |f| %>
        <div class="row">
          <div class="dropzone">
            <div class="dropzone-previews"></div>
            <div class="dz-message"><span>Drop image here to upload.</span></div>
          </div>
          <div class="fallback">
            <%= f.file_field :image %>
          </div>
        </div>
        <div style="width: 100%; text-align: center; background-color: gray; color: white; padding: 8px;">
          <%= f.button :submit, "Replace Image", class: 'btn btn-primary' %>
          <a href="#" style="color: white;"><i class="glyphicon glyphicon-refresh"></i> Replace</a>
        </div>
      <% end %>
    </div>
    <%= item.render_image_zoom(id: "itemZoom#{item.id}") %>
  </div>
</div>
