<%= page_title(@item.name, @item.collection) %>
<%= collection_nav(@item.collection, :items) %>

<%= back_action_bar(@item.back_path, "#" ) %>

<%= link_to("PREVIEW", CreateBeehiveURL.call(@item.object), class: "btn btn-large btn-hollow", :target => "_blank") %>

<div class="row">
  <div class="col-md-8">

    <%= @item.item_meta_data_form %>

    <%= DeletePanel.new(@item.object).display(ItemQuery.new(@item)) %>

  </div>
  <div class="col-md-4">
    <div class="panel panel-default item-show-image">
      <div class="panel-heading">
        <div class="pull-right">
          <a href="#" data-toggle="modal" data-target="#add-items" class="check-is-dirty btn btn-xs btn-default btn-flat"><i class="glyphicon glyphicon-refresh"></i> <%= t(".replace_media") %></a>
        </div>
        <h3 class="panel-title"><%= t(".media") %></h3>
      </div>
      <div class="panel-body">
        <%= @item.show_image_box %>
      </div>
    </div>

    <%= react_component("ShowcasesPanel", {
          showcases: @item.showcases_json,
          panelTitle: "Showcases"
        })
    %>

    <%= ItemPublishEmbedPanel.display(@item.object) %>

  </div>
</div>
