<%= page_title(@item.title) %>
<%= collection_nav(@item.collection, :items) %>

<% if @item.is_parent? %>
  <%= back_action_bar(collection_items_path(@item.collection), '#' ) %>
<% else %>
  <%= back_action_bar(edit_item_path(@item.parent), '#' ) %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%= simple_form_for @item, html: { :class => "item", id: 'edit-item' } do |f| %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('.metadata') %></h3>
        </div>
        <div class="panel-body">
            <%= render :partial => 'form', locals: { f: f } %>
        </div>
        <div class="panel-footer">
          <%= f.button :submit, "Save", class: 'btn btn-primary'%>
        </div>
      </div>
    <% end %>

    <% if @item.is_parent? %>
      <div class="item-show-children clearfix">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="pull-right">
              <div>
                <%= link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> #{t('.children.manage_link')}"), new_item_child_path(@item), class: 'btn btn-default btn-xs btn-flat' %>
                </div>
            </div>
            <h3 class="panel-title"><%= t('.children.title') %></h3>
          </div>
          <div class="panel-body">
            <% if @item.recent_children.count > 0 %>

              <%= render partial: 'list', locals: { items: @item.recent_children } %>
            <% else %>
              <%= t('.children.empty_message_html') %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= DeletePanel.new(@item.object).display %>

  </div>
  <div class="col-md-4 item-show-image">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right">
          <a href="#" data-toggle="modal" data-target="#replace-image" class="btn btn-xs btn-default btn-flat"><i class="glyphicon glyphicon-refresh"></i> <%= t('.replace_media') %></a>
        </div>
        <h3 class="panel-title"><%= t('.media') %></h3>
      </div>
      <div class="panel-body">
        <%= @item.show_image_box %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><%= t('.publish') %></h3></div>
      <div class="panel-body">
        <p><%= t('.publish_help') %></p>
        <div class="togglebutton">
          <label>
            <%= t('.publish_field') %> <input type="checkbox" checked=""><span class="toggle"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('.embed') %></h3>
      </div>
      <div class="panel-body">
        <p><%= t('.embed_help') %></p>
        <p><textarea> I AM AN EMBED CODE !!! I AM SO AWESOME.  YOUR WEBSITE WILL BE AMAZING WITH ME !</textarea></p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="replace-image">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for @item, html: { :class => "edit-item-dropzone", :multipart => true } do |f| %>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Replace Image</h4>
        </div>
        <div class="modal-body">
          <div class="dropzone">
            <div class="dropzone-previews"></div>
            <div class="dz-message">
              <ol>
                <li>Drop image here to upload.</li>
                <li>Then click "upload image".</li>
              </ol>
            </div>
          </div>
          <div class="fallback">
            <%= f.file_field :image %>
          </div>
        </div>
        <div class="modal-footer" >
          <%= f.button :submit, "Upload Image", class: 'btn btn-primary edit-upload-button', disabled: 'disabled' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
