<%= collection_title(@collection) %>

<div class="row">

  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Items</strong></div>
      <div class="panel-body">
        <p>Exhibits are sites dedicated to displaying your collection.</p>
        <p><%= link_to "Goto Exhibit", "#" %></p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><strong>Exhibit</strong></div>
      <div class="panel-body">
        <p>Exhibits are sites dedicated to displaying your collection.</p>
        <p><%= link_to "Goto Exhibit", "#" %></p>
      </div>
    </div>

    <%= link_to raw('<i class="glyphicon glyphicon-cog"></i> Settings'), "#", class: 'btn btn-default', role: 'button' %>

  </div>
  <div class="col-md-10">
    <div class="menu-bar default pull-left">
      <div class="btn-group">
        <%= link_to raw("<i class=\"glyphicon glyphicon-plus\"></i> #{t('items.index.new')}"),
          new_collection_item_path(collection),
          :class => 'btn btn-primary' %>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Advanced Import</a></li>
          <li><a href="#">Export as Csv</a></li>
        </ul>
        </div>
    </div>
    <div class="menu-bar selected pull-left">
      <div class="btn-group">
        1 Item Selected:
      </div>
      <div class="btn-group">
        <%= link_to raw("<i class=\"glyphicon glyphicon-edit\"></i> #{t('items.index.edit')}"),
          '#', :class => 'btn btn-default' %>
      </div>
      <div class="btn-group">
        <%= link_to raw("<i class=\"glyphicon glyphicon-eye-open\"></i> #{t('items.index.publish')}"),
          '#', :class => 'btn btn-default' %>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Publish</a></li>
          <li><a href="#">Unpublish</a></li>
        </ul>
      </div>
    </div>

    <%= render partial: "list", locals: { items: @items } %>
  </div>


</div>
