<div class="page-header">
  <h1><%=t '.title', :default => "Upload New Items" %></h1>
</div>
<div class="container">

  <%= simple_form_for [@item.collection, @item], :html => { class: 'new-item-dropzone', :multipart => true, :id => "fileupload"  } do |f| %>
    <div class="row">
      <%= f.button :submit, "Upload Images", class: 'btn btn-primary' %>
      <%= link_to 'Back to Collection', collection_items_path(@item.collection), class: 'btn btn-large' %>
    </div>
    <div class="row">
      <div class="dropzone">
        <div class="dropzone-previews"></div>
        <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
      </div>
      <div class="fallback">
        <%= f.file_field :image %>
      </div>
    </div>
  <% end %>

</div>
