<%
if @item.is_parent?
  breadcrumb :collection_item, @item
else
  breadcrumb :collection_item_child, @item
end
%>
<div class="page-header">
  <h1 class="ui-header"><%=t '.title' %> <%= @item.title %></h1>
  <div class="pull-right">
    <%= link_to t('.back', :default => t("helpers.links.back")),
              @item.back_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_collection_item_path(collection, @item), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  collection_item_path(collection, @item),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
  </div>
</div>

<%= render partial: "show", locals: { item: @item } %>

<% if @item.is_parent? %>
  <h2><%= t '.children.title' %></h2>
  <% if @item.recent_children.count > 0 %>
    <%= render partial: 'list_small', locals: { items: @item.recent_children } %>
  <% end %>
  <%= link_to t('.children.manage_link'), collection_item_children_path(collection, @item), class: 'btn btn-default' %>
<% end %>
